<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>

    <div id="app">
        <a :href="url">{{url}}</a>
        <h1 :data="dynamicValue"> {{dynamicValue}} </h1>
        
    </div>

    <script>

        new Vue({
            el: '#app',
            data: {
                dynamicValue: 30,
                url: 'https://edwindiaz.com'
            }
        });


    </script>

</body>

</html>