<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>

    <div id="app">

        <h1>{{ message }}</h1>
        <h1>{{ number + 10 }}</h1>
        <h1>{{ isActive ? 'isActive' : 'is Not Active' }}</h1>
        <h1>{{ message.split('').reverse('').join('') }}</h1>

    </div>

    <script>

        let vm = new Vue({
            el: '#app',
            data: {
                message: 'Hello',
                number: 10,
                isActive: false
            }
        });

    </script>

</body>

</html>