<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <div id="app">

            <form action="">

                <div class="col-sm-6">
                    <input v-model="message" type="text" class="form-control">
                </div>

            </form>

            {{message}}

        </div>

    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                message: ''
            }
        });
    </script>

</body>

</html>